body {
  padding: 10px;
  background-image: url("http://bbcreative.org/upload/imagens/03227c348a43695647b92f1853d17350.png");
}

.form {
  margin-top: 60px;
 background-color: inherit;
background-image: url("http://bbcreative.org/upload/imagens/03227c348a43695647b92f1853d17350.png");
}

